@use "../../styles/partials/variables" as *;
.first-selection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  color: #50514f;
  //background-color: #fffcff;
  background-color: transparent;
  transition: background 0.5s ease;

  &__background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
  }

  .selection-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 1rem;
    }

    &__background-active {
      &--Rainy-Outdoors {
        color: $header-background;
      }
      &--Beachside-Waves {
        color: $secondary-dark;
      }
      &--Among-Trees {
        color: $off-white;
      }
      &--Cozy-Lounge {
        color: $greyish-orange;
      }
    }

    &__environment-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      &--button {
        padding: 10px 20px;
        font-size: 1rem;
        color: $off-white;
        background-color: $button-blue;
        border: none;
        border-radius: 8px;
        transition: background-color 0.3s, transform 0.3s;

        &:hover {
          background-color: $secondary-dark;
          transform: scale(1.1);
        }
      }
    }
  }
}
