@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.first-selection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: transparent;

  &__background-video {
    @include dynamic-background-style;
    opacity: 0.9;
    transition: opacity 2s ease-in-out;
  }

  .selection-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primay-dark;

    h1 {
      margin-bottom: 1rem;
    }

    &__background-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &--Rainy-Outdoors {
        color: $header-background;
      }
      &--Beachside-Waves {
        color: $secondary-dark;
      }
      &--Among-Trees {
        color: $off-white;
      }
      &--Cozy-Lounge {
        color: $greyish-orange;
      }
    }

    &__instruction {
      padding: 0 0 2rem 0;
      font-size: 1.1rem;
      color: inherit;
    }

    &__environment-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.4rem;

      &--button {
        @include selection-button-style;
      }
    }
  }
}
