@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.element-selection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
  transition: background 0.5s ease;

  &__background-video {
    @include dynamic-background-style;
  }

  .selection-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 20vh;

    &--Rainy-Outdoors {
      color: $header-background;
    }

    &--Beachside-Waves {
      color: $secondary-dark;
    }

    &__background-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--Thunder,
      &--Windchime,
      &--Bamboo-Fountain {
        color: $header-background;
      }

      &--Traffic {
        color: $off-white;
      }
      &--Seagull,
      &--Ship-Horn,
      &--Motorboat {
        color: $off-white;
      }
    }

    &__instruction {
      padding: 1rem 0 1rem 0;
      color: inherit;
    }

    &__element-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4rem;
      margin-top: 1rem;

      &--button {
        width: 12rem;
        @include selection-button-style;

        &:hover {
          background-color: #1a5a78;
          transform: scale(1.1);
        }

        &.selected {
          background-color: $greyish-orange;
        }
      }
    }

    &__controls {
      padding: 1rem 0;
      p {
        color: $off-white;
      }
    }

    &__amb-controls {
      display: flex;
      align-items: center;
      width: auto;
    }

    &__pause {
      background-color: transparent;
      color: inherit;
      padding: 0 1.25rem;
      border: none;
      border-radius: 8px;
      font-size: 1.25rem;
      transition: transform 0.3s;
      display: flex;
      align-items: center;
      gap: 0.3rem;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
  &__try-again {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    @include navigation-button-style;
    font-size: 1rem;
  }
}
