@use "../../styles/partials/variables" as *;

.volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 12rem;

  &__slider {
    color: $button-blue;
  }
}
